@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --textcolor:#36536B;
    --headercolor:#F2F2F2;
    --footercolor:#1B262F;
    --btnbg:#BA4270;
    --texthover:#BA4270;
    --btntext: #FFFFFF;  
    --textfont: 'Public Sans';
    --navpadding: 40px 0px;
    --foottextcolor: #FBFCFE;

}
@media (max-width: 768px) {
    .container {
        width: 689px;
    }
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .orta {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    footer{
        width: 100%;
        padding: 10px 0px;
    }
    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .orta {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    
}
@media (max-width: 450px) {
    .container {
        width: 327px;
    }
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .orta {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    footer{
        width: 100%;
        padding: 10px 0px;
    }
    nav ul {
        width: 325px;
        flex-direction: column;
        align-items: center;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    
}
.dpbtn{
    display: none;

}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 20px 140px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navpadding);
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    gap: 20px;
    font-family: var(--textfont);
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
}
nav ul li a{
    color: var(--textcolor);
}
nav ul li a:hover{
    color: var(--texthover);
    text-decoration: underline;
    transition: 0.5s;
}
nav img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.header_btn{
    background: var(--btnbg);
    color: var(--btntext);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: Public Sans;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    cursor: pointer;
}
.header_btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background: #ffffff;
    border: 2px solid var(--btnbg);
    color: var(--textcolor);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-family: var(--textfont);
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--textcolor);
    width: 546px;
}
.orta{
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orta_right h1{
    font-family: var(--textfont);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--textcolor);
}
.orta_right p{
    font-family: var(--textfont);
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--textcolor);
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
span{
    font-family: Public Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.14px;
    text-align: center;
    color: var(--textcolor);
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}
footer{
    background: var(--footercolor);
    padding: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navpadding);
}
.foot ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    gap: 20px;
    font-family: var(--textfont);
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
}
.chap ul li{
    font-family: var(--textfont);
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--foottextcolor);
}
.chap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;}
.chap ul li a{
    color: var(--foottextcolor);
}
.chap ul li a:hover{
    color: var(--texthover);
    text-decoration: overline; 
    transition: 0.5s;
}
.chap img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.ong img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.ong{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;}
.ong ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
