@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{  
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    list-style: none;    text-decoration: none;
}a{
    color: #737373;}
a:hover{
    color: red;
}.container{
    max-width: 1200px;   
    margin: 0 auto;
    padding: 0 20px;}
nav{    
    padding: 50px;
    display: flex;    
    justify-content: space-between;
}ul{
    width: 350px;   
    display: flex;
    justify-content: space-between;}
button:hover{
    background: linear-gradient(95.2deg, #2E3192 2.23%, #B90160 99.51%);    
    transition: 0.3s ease-in-out all ;
    color: #d4adc1;}
button{    color: white;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: none;
    padding: 10px 20px;    
    margin-top: 40px;
    border-radius: 7px;
}.header_main{
    justify-content: center;
    display: flex;
    align-items: center;}
.header-title{
    font-family: Roboto;
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 600px;
}

.box>img{
    border-radius: 20px 0px;
}.box>h1,p{
    padding-left: 15px;
    padding-top: 10px;
}.box{
    flex-wrap: wrap;
    width: 345px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px #B8005F33;
}.main_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;
}.mein_footer{
    margin-top: 100px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1>img{
    transform: translateY(-60px);
    width: 100px;
}
.box1>p{
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    transform: translateY(-60px);
}.box1{
    transform: translateY(10px);    margin-left: 10px;
    background-color: white;
    width: 680px;
    height: 200px;
    text-align: center;
}.foot{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.foot>h1{
    font-size: 20px;}
.er{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tel{
    margin-left: 350px;
    width: 200px;
}
.EVA{
    width: 250px;
    transform: translateX(140px);
}
.insta{
    transform: translateX(40px);
}
.text-Eva_title{
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
@media(max-width:770px)
{    .container{
        max-width: 770px;
    }
    button{        transform: translateX(450px);
    }
    ul{
        display: none;
    }
    .logo1{
        transform: translateX(200px);
    }
    .header-title{        
        flex-wrap: wrap;
        transform: translateX(450px);
    }
    .kof{
        transform: translateX(350px);
    }    
    .text-Eva_title{
        transform: translateX(350px);    }
    .main_menu{ 
        transform: translateX(350px);
        flex-direction: column;
    }
    .box{
        margin-top: 50px;
    }
    .mein_footer{
        width: 200vw;
        height: 200vh;
        flex-direction: column;
    }
    .box1{
        margin-top: 50px;
    }
    footer{
        width: 200vw;
    }
    .foot{
        width: 900px;
    }
    .er{
        width: 900px;
    }
}
@media(max-width:320px){
    .container{
        max-width: 320px;
    }
    .kof{
        display: none;
    }
    .logo1{
        transform: translateX(300px);
    }
    .header-title{
        text-align: center;
        transform: translateX(350px);
    }
    button{
        margin-bottom: 50px;        transform: translateX(600px);
    }    .text-Eva_title{
        font-size: 25px;        width: 300px;
    }
    .mein_footer{
        margin-left: 200px;
        height: 1200px;
    }
    .box1{
        padding: 15px;
        width: 400px;
        height: 300px;
    }
    footer{
        max-width: 200px;
        flex-direction: column;
        flex-wrap:wrap;    }
}
